* {
    margin:0;
    padding:0;
    overflow: hidden;
}

body{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title {    
    font-family: 'Poppins';
    font-size: 3em;
    font-weight: 800;
}

.intro {
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 400;
}

.content{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 60%;
}

a{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

a:hover{
    color: rgb(0, 110, 255);
}

@media only screen and (max-width: 480px){
    .content {
        width: 85%;
        height: 85%;
    }

    .title {
        font-size: 2em;
    }
}